$watermelon-red: #e74c3c;
$theme-light: lighten( $watermelon-red, 25%);
$theme-dark: darken( $watermelon-red, 25%);
$alan-color: #028097;
$mint: #a5e4ef;

@mixin reset {
  margin:0;
  padding:0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}

*{
    box-sizing: border-box;
}
body{
  @include reset;
    overflow: hidden;
  background-color: #b5e1e9;
}

header{
  background-color: $alan-color;
  @include flex(row);
  justify-content: center;
  align-items: center;
  
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
color: white;
  .logo{
    max-width:60px;
    padding-top: 10px;
   padding-bottom: 10px;
    padding-left: 10px;
    
    //align-items: center;
  }
  h1{
    margin: 0;
    padding: 5px;
   // text-align: center
  }
}



#task-form{
  @include flex(row);
  
  input{
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $watermelon-red;
    background-color: white;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  }
  input:focus{
    background-color: white;
    outline: none;
  }
  button{
    max-width: 100px;
    padding: 5px;
    background-color: $watermelon-red;
    color: white;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
   

  }
    button:hover{
         background-color: antiquewhite;
      color: black;
   
    }
}
#task-list{
    @include reset;
    list-style: none;
    background-color: antiquewhite;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    li{
        
        border-bottom: 1px solid #cccccc;
        .task-container{
            @include flex(row);
            justify-content: space-between;
            .task-name{
                 padding: 1em;
            }
            .task-buttons{
                @include flex(row);
                button{
                    padding-top: 10px;
                    width: 48px;
                    height: 48px;
                    font-size: 1.5em;
                    background-color: transparent;
                    border: 1px solid transparent;
                }
                button:focus{
                    padding-top: 10px;
                    outline: none;
                    background-color: $mint;
                }
                button[data-function='status']{
                    font-size: 1em;
                }
              
                button[data-function='changecolor']{
                    font-size: 1em;
                }
                
            }
        }
    }
    li[data-status="true"]{
        background-color: $theme-light;
        .task-name{
            text-decoration: line-through;
            opacity: 0.5;
         
        }
       
}
  li[data-color="true"]{
        .task-name{
           color: red;
         
        }
      }
}