* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5e1e9; }

header {
  background-color: #028097;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  
  color: white; }
  header .logo {
    max-width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
  header h1 {
    margin: 0;
    padding: 5px;
    font-size: 20px;}

#task-form {
  display: flex;
  flex-direction: row; }
  #task-form input {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #e74c3c;
    background-color: white;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  #task-form input:focus {
    background-color: white;
    outline: none; }
  #task-form button {
    max-width: 100px;
    padding: 5px;
    background-color: #e74c3c;
    color: white;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  #task-form button:hover {
    background-color: antiquewhite;
    color: black; }

#task-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: antiquewhite;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  #task-list li {
    border-bottom: 1px solid #cccccc; }
    #task-list li .task-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #task-list li .task-container .task-name {
        padding: 1em; }
      #task-list li .task-container .task-buttons {
        display: flex;
        flex-direction: row; }
        #task-list li .task-container .task-buttons button {
          padding-top: 10px;
          width: 48px;
          height: 48px;
          font-size: 1.5em;
          background-color: transparent;
          border: 1px solid transparent; }
        #task-list li .task-container .task-buttons button:focus {
          padding-top: 10px;
          outline: none;
          background-color: #a5e4ef; }
        #task-list li .task-container .task-buttons button[data-function='status'] {
          font-size: 1em; }
        #task-list li .task-container .task-buttons button[data-function='changecolor'] {
          font-size: 1em; }
  #task-list li[data-status="true"] {
    background-color: #f5b4ae; }
    #task-list li[data-status="true"] .task-name {
      text-decoration: line-through;
      opacity: 0.5; }
  #task-list li[data-color="true"] .task-name {
    color: red; }
